@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@300&display=swap');

body {
       color: #ffffff;
      font-family: 'Poppins', sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom right, #12181b, #a7a7a7);
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 80vh;
}

.hide {
    opacity: 0;
    filter: blur();
    transform: translateX(-100%);
    transition: all 1s;
}
.show {
    opacity: 1;
    transition: all 1s;
    transform: translateX(0);
}

.button-circle {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.button-circle::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.button-circle:hover::after {
    opacity: 1;
    animation: circle-animation 1s linear infinite;
}

@keyframes circle-animation {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.bounce-icon {
    animation: bounce 0.7s infinite;
}

.logos {
    display: flex;
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}